<footer>

	<!-- page links -->
	<nav>
		{{ with .Site.Menus.main }}
		<h2 class="tc f1">
			{{ range . }}
			<a href="{{ .URL | relURL }}">{{ .Name }}<br /></a>
			{{ end }}
		</h2>
		{{ end }}
	</nav>

	<!-- icon -->
	<br/>
	<p class="tc"><a href="{{ .Site.Params.baseURL | relURL }}"><img alt="logo" style="width:78px;height:78px;border-width:0" class="filter-grey" src="{{ relURL "/img/pcwp_logo.svg" }}" /></a><p>
	<br/>

	<!-- copyright -->
	<p class="tc small-caps"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" class="filter-grey" style="width:12px;height:12px;border-width:0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Cc.logo.circle.svg/64px-Cc.logo.circle.svg.png" /></a> <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">by-nc-sa 4.0</a> ・ {{ now.Year }}
	<p class="tc small-caps">Noun Project icons by<br> Juan Pablo Bravo & Allex</p>

</footer>
