{{ define "header" }}
<!-- include to override with empty content -->
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<!-- <div class="flex-l flex-column mt2 mw8 center w-100">
  <article class="cf pt5-ns ph3 ph4-ns mw7 w-100 center">
    <header>
      <h1 class="f1">{{ .Title }}</h1>
    </header>
  </div>
</article> -->
{{ partial "segments.html" .Params.segments }}

<div class="flex-l flex-column mt2 mw8 center">

  <article class="center cf pb5-ns ph3 ph4-ns mw7">
    <!-- <header>
      <h1 class="f1">{{ .Title }}</h1>
    </header> -->
    {{ if .Params.toc }}
    <div class="nested-list-reset f4 bb mb5 pb4">{{ .TableOfContents }}</div>
    {{ end }}
    <div
      class="nested-copy-line-height lh-copy f4 nested-links nested-img near-black"
    >
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
