{{ define "header" }}
<!-- include to override with empty content -->
{{ partial "page-header.html" . }}
{{ end }} 
{{ define "main" }}
{{ if .Content }}
<div class="flex-l flex-column mt2 mw8 center">
    <article class="center cf pv5-ns ph3 ph4-ns mw7">
        <header>
            <!-- this is the small heading -->
            <p class="f6 b helvetica tracked">{{ humanize .Section | upper }}</p>
            <h1 class="f1">{{ .Title }}</h1>
        </header>
        {{ if .Params.toc }}
        <div class="nested-list-reset f4 bb mb5 pb4">{{ .TableOfContents }}</div>
        {{ end }}
        <div class="nested-copy-line-height lh-copy f3 nested-links nested-img near-black">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}
{{ partial "segments.html" .Params.segments }}
{{ end }}