{{ define "main" }}
	<main>
	</main>

{{ partial "header-page.html" . }}

<div class="pl7 f1 f2-m">
	<h1>{{ .Params.Title }}<h1>
</div>


<div class="pl7 flex justify-left">
	<div class="w-25 mr2 tl">
		<h1>
			<ul style="list-style-type:none;padding:0;">
			{{ range .Params.Authors }}
				<li>{{ . }}</li>
			{{ end }}
		</h1>
	</div>
  <div class="pa4 f7 w-25 mr2 tl">
		<h1>
			{{ .Parent.Date.Format "January 1, 2006" }}
			<br/>
			<br/>
			📄: PDF | {{ with  .OutputFormats.Get "txt" -}}
				<a href="{{ .RelPermalink }}" rel="alt">TXT</a>
			{{- end }}
		</h1>
	</div>
</div>

<br/>
<br/>

<div class="pl7 f4 mw7">
	{{ .Content }}
</div>

{{ end }}
