{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  
  <header class="flex flex-column">
    {{ partial "site-navigation.html" .}}
    <div class="cover bg-center tc-l pv5 pv6-l ph3 ph4-ns" style="background-image: url('{{ $featured_image }}');">
      <h1 class="f2 f-subheadline-l fw2 white-90 lh-title">
        {{ if not .Params.omit_header_text }}
          {{ .Title | default .Site.Title }}
        {{ else }}
          <span>&nbsp;</span>
        {{ end }}
      </h1>
      {{ with .Params.description }}
        <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
          {{ . }}
        </h2>
      {{ end }}
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
