<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} pv4 ph3 ph5-m ph6-l" role="contentinfo">
  <div class="flex f4 p2">
    <div class="flex-1 tl">
      <p class="white-80">
        &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
      </p>
    </div>
    {{ if .Site.Menus.footer }}
      <div class="flex-1 tr">
        {{ range .Site.Menus.footer }}
          <p>
            <a class="white-80" href="{{ .URL | relLangURL }}" title="{{ .Name }}">
              {{ .Name }}
            </a>
          </p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</footer>
