{{/* Include CSS for fonts here since this is HTML, not a markdown template */}}.
<link href="/fontawesome/css/all.min.css" rel="stylesheet">

<footer class="pv2 ph3 ph5-m ph6-l bg-white bt {{ .Site.Params.background_color_class | default }}" role="contentinfo">
  <div class="flex f4 p2 m-footer justify-between">
    <span class="self-center" style="margin-right: 2vw" id="footer-logo">
      <a class="f3 fw2 hover-white no-underline white flex items-center" href="{{ .Site.Home.RelPermalink }}">
        <img alt="{{ $.Site.Title }}" height="70" src="{{ $.Site.Params.site_logo_inverted }}" />
      </a>

      <span class="flex-1 self-center">
        &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
        <br />
        <span class="f5">
          {{ with .Site.Params.attribution }}
          {{ $name := .name | safeHTML }}
          Site by
          {{ if (isset . "link") }} <a target="_blank" href="{{ .link }}">{{ $name }}</a>
          {{else}} {{$name}}
          {{end}}
          {{ end }}
        </span>
      </span>

    </span>

    <ul class="list db pl0 pr4-l flex content-center items-center">
      <li class="mr2 di">
        <a href="https://www.facebook.com/Philly-Community-Wireless-111328101173369/" title="Facebook">
          <!-- /phillycommunitywireless -->
          <span class="fab fa-fab fa-facebook fa-2x black-60"></span>
        </a>
      </li>

      <li class="ml2 mr2 di">
        <a href="https://www.instagram.com/phillycommunitywireless/" title="Instagram">
          <!-- @phillycommunitywireless -->
          <span class="fab fa-fab fa-instagram fa-2x black-60"></span>
        </a>
      </li>

      <li class="ml2 mr2 di">
        <a href="https://bsky.app/profile/phillywireless.bsky.social" title="BlueSky">
          <!-- @phillycommunitywireless -->
          <span class="fab fa-fab fa-bluesky fa-2x black-60"></span>
        </a>
      </li>

      <li class="ml2 mr2 di">
        <a href="https://jawns.club/@phillycommunitywireless/" title="Mastodon">
          <!-- @phillycommunitywireless -->
          <span class="fab fa-fab fa-mastodon fa-2x black-60"></span>
        </a>
      </li>
      <li class="ml2 di">
        <a href="https://www.youtube.com/channel/UCDguhllC44ZqauV6eDopShA/" title="YouTube">
          <!-- Philly Community Wireless -->
          <span class="fab fa-fab fa-youtube fa-2x black-60"></span>
        </a>
      </li>
    </ul>

    <div class="flex m-footer">
      <ul class="list db pl0 pr4-l">
        <li class="pb2">
          <a href="/code-of-conduct" title="Code of Conduct">
            Code of Conduct
          </a>
        </li>
        <li class="pb2">
          <a href="/termsofservice" title="Terms of Service">
            Terms of Service
          </a>
        </li>
         <li class="pb2">
          <a href="/privacy" title="Privacy Policy">
            Website Privacy Policy
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
