<nav class="bg-pcw pa2 pl3-ns relative site-nav" role="navigation">
  <div class="site-nav-wrap flex justify-between items-center center">

    <div class="nav-side nav-side-logo">
      <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-black no-underline white flex items-center">
        <img height="57" width="150" src="{{ $.Site.Params.site_logo }}" alt="{{ $.Site.Title }}" />
      </a>
    </div>

    <div class="nav-side nav-side-end flex items-center">
      {{ range .Site.Menus.main }}{{ if .Params.Button }}
      	<a id="donate-button" class="no-underline ml-auto-l" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}{{ end }}
      <button id="hamburger-menu" type="button" class="input-reset button-reset bn bg-transparent pa0 ma0 pointer color-inherit" aria-controls="site-menu-container" aria-expanded="false" aria-label="{{ .Site.Params.navName | default "Menu" }}">
	  	  <i class="fa-solid fa-bars fa-2x dn-l"></i>
      </button>
    </div>

    <div id="site-menu-container" class="site-menu-container f4 pb4 pb0-l">
      <div class="site-menu-container-inner flex items-center justify-center flex-column flex-row-l">
        {{ if .Site.Menus.main }}
        <ul id="site-menu" class="site-menu-list ph0 mv0 lh-copy tc flex flex-column flex-row-l items-center">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          {{ $id := printf "submenu-%s" (.Identifier | urlize) }}
          <li class="menu-item menu-item-top list relative">
            <button type="button" class="menu-link menu-link-top dropdown-toggle" aria-controls="{{ $id }}" aria-expanded="false">
              {{ .Name }} <span aria-hidden="true" class="dropdown-arrow fa-solid fa fa-caret-down"></span>
            </button>
            <ul class="absolute shadow-1 dn submenu bg-pcw br3 ph3 pv1" id="{{ $id }}">
              {{ range .Children }}
			        <li class="menu-item menu-item-sub list">
                <a class="menu-link menu-link-sub grow" href="{{ .URL | relLangURL }}">
                  {{ .Name }}
				        </a>
				      </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
            {{ if not .Params.Button }}
            <li class="menu-item menu-item-top list">
              <a class="menu-link menu-link-top" href="{{ .URL | relLangURL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          {{ end }}
          {{ end }}
        </ul>
        {{ end }}
        {{ partial "i18nlist.html" . }}
      </div>
    </div>

  </div>
</nav>

<!--Script to show/hide navigation content-->
<script>
  var siteMenuContainer = document.getElementById('site-menu-container');
  var hamburgerMenu = document.getElementById('hamburger-menu');
  const navElement = document.querySelector('.site-nav[role="navigation"]')

  // matches tachyons lg breakpoint 60em
  // (safer than using a px value since em size can change depending on user preferences)
  const desktopBreakpoint = window.matchMedia('(min-width: 60em)')
  // helper fn to determine if we are at desktop width
  const isDesktop = () => desktopBreakpoint.matches

  // helper fn to determine if the nav is shown atm
  const navIsVisible = () => getComputedStyle(siteMenuContainer).display !== 'none'

  // Hide menu content on small screens by default
  if (!desktopBreakpoint.matches) {
    hideNavMenu()
  }

  function showNavMenu() {
    siteMenuContainer.style.display = ''
    hamburgerMenu.classList.add('rotate')
    hamburgerMenu.setAttribute('aria-expanded', 'true')
  }

  function hideNavMenu() {
    siteMenuContainer.style.display = 'none'
    hamburgerMenu.classList.remove('rotate')
    hamburgerMenu.setAttribute('aria-expanded', 'false')
  }

  //Update state when hamburger menu is clicked
  hamburgerMenu.addEventListener('click', function () {
    if (navIsVisible()) {
      hideNavMenu()
    } else {
      showNavMenu()
    }
  });

  desktopBreakpoint.addEventListener('change', (e) => {
	  if (!e.matches) {      
      hideNavMenu()
	  } else {
      showNavMenu()
    }
  })

  document.addEventListener('click', (e) => {
    if (desktopBreakpoint.matches) return 
    const isClickInsideNav = navElement.contains(e.target)
    if (!isClickInsideNav && navIsVisible()) {
      hideNavMenu()
    }
  })

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape' && !isDesktop() && navIsVisible()) {
      let shouldFocusButton = siteMenuContainer.contains(e.target)
      hideNavMenu()
      if (shouldFocusButton) hamburgerMenu.focus()
    }
  })

  // Collect all the dropdowns (and their associated pieces) into objects for easier access
  const dropdowns = [...document.querySelectorAll('.dropdown-toggle')].map((toggle)=> {
    const id = toggle.getAttribute('aria-controls')
    const submenu = document.getElementById(id)
    const arrow = toggle.querySelector('.dropdown-arrow')
    return { toggle, id, submenu, arrow }
  })

  function openDropdown(dropdown) {
    const { toggle, submenu, arrow } = dropdown 
    if (!toggle || !submenu) return
    submenu.classList.remove('dn')
    if (arrow) arrow.classList.add('rotate-arrow')
    toggle.setAttribute('aria-expanded', 'true')
  }

  function closeDropdown(dropdown) {
    const { toggle, submenu, arrow } = dropdown
    if (!toggle || !submenu) return
    submenu.classList.add('dn')
    if (arrow) arrow.classList.remove('rotate-arrow')
    toggle.setAttribute('aria-expanded', 'false')
  }

  dropdowns.forEach((dropdown) => {
    const { toggle } = dropdown
    toggle.addEventListener('click', function() {
      const isOpen = toggle.getAttribute('aria-expanded') === 'true' 

      if (isOpen) {
        closeDropdown(dropdown)
      } else {
        openDropdown(dropdown)
        closeOtherDropdowns(toggle)
      }
    })
  })

  // Function to close other open dropdowns
  function closeOtherDropdowns(currentToggle = null) {

    dropdowns.forEach((dropdown) => {
      if (dropdown.toggle === currentToggle) return 
      closeDropdown(dropdown)
    })
  }

  // Close dropdowns when clicking outside
  document.addEventListener('click', function (event) {
    var isClickInsideMenu = event.target.closest('.dropdown-toggle') || event.target.closest('.submenu');

    if (!isClickInsideMenu) {
      closeOtherDropdowns()
    }
  });



  // listeners for showing dropdowns on hover 
  // var dropdownToggles = document.querySelectorAll('.list');

  // dropdownToggles.forEach(function (toggle) {
  //   toggle.addEventListener('mouseenter', function (event) {
  //     event.preventDefault(); // Prevent default link behavior
  //       this.style = 'opacity: 0.5;'
  //   });
  // });

  // dropdownToggles.forEach(function (toggle) {
  //   toggle.addEventListener('mouseleave', function (event) {
  //     event.preventDefault(); // Prevent default link behavior
  //       this.style = 'opacity: 1.0;'
  //   });
  // });

</script>
