/************************
* Specific Item Targets *
*************************/

/* Hero Image */
/* 
  Extracted from inline HTML style 
  */
div.hero-image a {
  border: dashed 1px white;
}

/* Site Navigation */
/*
  Giving the nav items some breathing room
  */
nav a {
  padding: 0.2rem;
}

/* Contact section */
/*
  Giving the contact links some breathing room
  */
section.contact a {
  padding: 0.5rem;
}

/* Table of Contents */
#TableOfContents>ul>li>a {
  font-size: 1.3em;
  color: var(--dark-blue);
  font-weight: bold;
}

#TableOfContents>ul>li>ul {
  margin-top: 0.3em;
}

#TableOfContents ul li {
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}

#TableOfContents ul li {}


/*************
* Typography *
*************/

/* Headings */
h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

h2 {
  margin: 0;
  margin-bottom: 0.3em;
}

/* Links */
main a,
footer a,
.nested-links a,
#TableOfContents a {
  text-decoration: none;
  color: var(--primary);
}

a[href^="mailto:"] {
  word-break: break-all;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/****************
* EXTRA CLASSES *
****************/

img.ofit-cover {
  object-fit: cover;
}

img.ofit-contain {
  object-fit: contain;
}

img.opos-center {
  object-position: center;
}

img.opos-left {
  object-position: left;
}

img.opos-top {
  object-position: top;
}

.f0 {
  font-size: 4rem;
}

.flex-1 {
  flex: 1;
}

@media screen and (min-width: 60em) {
  .flex-1-l {
    flex: 1;
  }
}

/* center images displayed w/ 'figure' shortcode */
.figure-center {
  display: flex;
  justify-content: center;
  /* center-align captions + photo attr credits */
  flex-direction: column;
  align-items: center;
}

/* start adjustments to mobile footer */

.m-footer {
  flex-direction: row;
}

@media screen and (max-width: 85em) {
  .m-footer {
    flex-direction: column;
    margin-top: 1em;
  }

  .m-footer .self-center {
    align-self: normal;
  }

  #footer-logo {
    margin-bottom: 1em;
  }
}

/* end adjustments to mobile footer */

.funder-card {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.funder-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.partner-section {
  display: flex;
  flex-wrap: wrap;
}

.partner-card {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  margin: 0.5em;
}

.partner-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*Hamburger style menu for mobile devices*/
#hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 32px;
  right: 16px;
  cursor: pointer;
}

#hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background: white;
}

/*Show hamburger menu on small screens*/
@media (max-width: 959px) {
  #hamburger-menu {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  #site-menu {
    max-width: 50%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  #site-menu li {
    display: flex;
  }
}

/*Hide hamburger menu on large screens*/
@media (min-width: 960px) {
  #site-menu {
    display: block !important;
    /*automatically displays nav items if width becomes >600px*/
  }

  #hamburger-menu {
    display: none !important;
  }
}

.rotate {
  transform: rotate(90deg);
}

.submenu {
  z-index: 1000;
  margin-top: 10px;
}

.submenu:not(.dn) {
  display: block;
}

.dropdown-arrow {
  margin-left: 5px;
  font-size: 0.8em;
  transition: transform 0.2s ease;
  display: inline-block;
}

.rotate-arrow {
  transform: rotate(180deg);
}

/* alt color on hover for navbar menu items */
.submenu li:hover,
#site-menu li:hover,
#translations li:hover {
  background-color: #7a87f5;
  transition: 0.5s;
}

footer {
  border-color: var(--primary);
}

/* Extra class with white !important for overriding button text color */
.bg-pcw-important {
  background-color: var(--primary);
  color: white !important;
}

.display-img-bottom-center {
  object-position: 50% bottom;
}

.vh-60 {
  height: 60vh;
}

/* not-small (ns) classes */
@media (min-width: 30em) {
  .vh-60-ns {
    height: 60vh;
  }
}

/* medium */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .vh-60-m {
    height: 60vh;
  }

}

/* images for three-button-call-to-action */
.threebutton-img {
  aspect-ratio: 1.5/1;
  width: 100%;
  /* remove based off of image display feedback */
  object-fit: cover;
}

/* square images for merch catalog */
.cubed-img {
  aspect-ratio: 1.5/1;
  width: 100%;
  /* remove based off of image display feedback */
  object-fit: cover;
  object-position: center;
}

/* call-to-action-photo-right */
@media screen and (min-width: 80em) {
  .flex-row-xl {
    flex-direction: row;
  }

  .flex-row-reverse-xl {
    flex-direction: row-reverse;
  }
}

/* call-to-action-photo-right image css*/
.ctr-img {
  max-height: 50vh;
  min-height: 40vh;
  object-fit: cover;
  width: 100%;
}

.opos-70p {
  object-position: 70% 70%;
}

.opos-50-30 {
  object-position: 50% 30%;
}