/************************
* Specific Item Targets *
*************************/

/* Hero Image */
  /* 
  Extracted from inline HTML style 
  */
div.hero-image a {
  border: dashed 1px white;
}

/* Site Navigation */
  /*
  Giving the nav items some breathing room
  */
nav a { 
  padding: 0.2rem;
}

/* Contact section */
  /*
  Giving the contact links some breathing room
  */
section.contact a {
  padding: 0.5rem;
}

/* Table of Contents */
#TableOfContents > ul > li > a {
  font-size: 1.3em;
  color: var(--dark-blue);
  font-weight: bold;
}
#TableOfContents > ul > li > ul {
  margin-top: 0.3em;
}
#TableOfContents ul li {
  margin-bottom: 0.3em;
  margin-left: 0.3em;
}
#TableOfContents ul li {
}


/*************
* Typography *
*************/

/* Headings */
h1 {
  margin: 0;
  margin-bottom: 0.5em;
}
h2 {
  margin: 0;
  margin-bottom: 0.3em;
}

/* Links */
main a,
footer a,
.nested-links a,
#TableOfContents a {
  text-decoration: none;
  color: var(--primary);
}

a[href^="mailto:"] {
  word-break: break-all;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/****************
* EXTRA CLASSES *
****************/

img.ofit-cover {
  object-fit: cover;
}
img.ofit-contain {
  object-fit: contain;
}
img.opos-center {
  object-position: center;
}
img.opos-left {
  object-position: left;
}
img.opos-top {
  object-position: top;
}
.f0 {
  font-size: 4rem;
}
.flex-1 {
  flex: 1;
}
@media screen and (min-width: 60em) {
  .flex-1-l {
    flex: 1;
  }
}

/* center images displayed w/ 'figure' shortcode */
.figure-center {
  display: flex;
  justify-content: center;
  /* center-align captions + photo attr credits */
  flex-direction: column;
  align-items: center;
}

/* start adjustments to mobile footer */

.m-footer {
  flex-direction: row;
}

@media screen and (max-width: 60em) {
  .m-footer {
    flex-direction: column;
    margin-top: 1em;
  }
  .m-footer .self-center {
    align-self: normal;
  }
  #right-footer {
    text-align: left;
    margin-left: -2em; /* get rid of list styling */
  }
  #footer-logo {
    margin-bottom: 1em;
  }
}

/* end adjustments to mobile footer */

.funder-card {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.funder-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.partner-card {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.partner-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*Hamburger style menu for mobile devices*/
#hamburger-menu
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#hamburger-menu div
{
  width: 2rem;
  height: 0.25rem;
  background: white;
}

/*Show hamburger menu on small screens*/
@media (max-width: 600px)
{
  #hamburger-menu
  {
    display: flex;
  }
}

/*Hide hamburger menu on large screens*/
@media (min-width: 601px)
{
  #site-menu
  {
    display: block !important; /*automatically displays nav items if width becomes >600px*/
  }
  
  #hamburger-menu 
  {
    display: none !important;
  }
}
