@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

:root {
  --orange: rgb(255, 128, 0);

  --blue: #5262ed;
  --dark-blue: #123248;
  --lilac: #d48aff;
  --light-grey: #e6e6e6;

  --primary: var(--blue);
}
.bg-pcw {
  background-color: var(--primary);
  color: var(--light-gray);
}
.bg-pcw-lilac {
  background-color: var(--lilac);
  color: var(--light-gray);
}
.bg-pcw-dark-blue {
  background-color: var(--dark-blue);
  color: var(--light-gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
  color: black;
}

/* Text color */
.color-pcw {
  color: var(--primary);
}
.color-pcw-lilac {
  color: var(--lilac);
}
.color-pcw-dark-blue {
  color: var(--dark-blue);
}
.light-gray {
  color: var(--light-gray);
}

/* Headings */
[class^="bg-pcw-"] :is(h1, h2, h3, h4, h5, h6) {
  color: white !important;
}


main a,
#TableOfContents a {
  color: var(--primary) !important;
  text-decoration: none;
}
