/*********
* COLORS *
*********/

:root {
  --orange: rgb(255, 128, 0);

  --blue: #5262ed;
  --lilac: #d48aff;
  --dark-blue: #123248;
  --light-gray: #e6e6e6;

  --primary: var(--blue);
}

/* Background color */
.bg-pcw {
  background-color: var(--primary) !important;
  color: white !important;
}
.bg-pcw-lilac {
  background-color: var(--lilac) !important;
  color: white !important;
}
.bg-pcw-dark-blue {
  background-color: var(--dark-blue) !important;
  color: var(--light-gray) !important;
}
.bg-light-gray {
  background-color: var(--light-gray) !important;
  color: black !important;
}

/* Text color */
.color-pcw {
  color: var(--primary) !important;
}
.color-pcw-lilac {
  color: var(--lilac) !important;
}
.color-pcw-dark-blue {
  color: var(--dark-blue) !important;
}
.light-gray {
  color: var(--light-gray) !important;
}

/* Automatic heading colors based on background. */
h1,h2 {
  color: var(--primary);
}
.color-pcw-lilac :is(h1,h2) {
  color: var(--lilac);
}
.color-pcw-dark-blue :is(h1,h2) {
  color: var(--dark-blue);
}
[class*=" bg-pcw"] h1,
[class*=" bg-pcw"] h2 {
  color: white;
}

/* Automatic link colors based on background. */
[class*=" bg-pcw"] a {
  color: white;
}
a[role="button"]:after {
  content: " →"
}
[class*=" bg-pcw"]:not(.bg-pcw-dark-blue) a[role="button"] {
  background-color: var(--dark-blue);
}

/************
* OVERRIDES *
************/

/* Headings */
h1 {
  margin: 0;
  margin-bottom: 0.5em;
}
h2 {
  margin: 0;
  margin-bottom: 0.3em;
}

/* Links */
main a,
footer a,
.nested-links a,
#TableOfContents a {
  text-decoration: none;
  color: var(--primary);
}
a:is(a,.link):focus, a:is(a,.link):focus-within {
  outline: dashed 5px var(--lilac);
  outline-offset: 0.2rem;
}
a[href^="mailto:"] {
  word-break: break-all;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/********
* FONTS *
********/

@font-face {
  font-family: 'Calibre';
  font-display: swap;
  src: url('/fonts/calibre/calibre-regular.woff2') format('woff2');
  font-weight: 1 499;
}

@font-face {
  font-family: 'Calibre';
  font-display: swap;
  src: url('/fonts/calibre/calibre-regular-italic.woff2') format('woff2');
  font-weight: 1 499;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  font-display: swap;
  src: url('/fonts/calibre/calibre-semibold.woff2') format('woff2');
  font-weight: 500 799;
}

@font-face {
  font-family: 'Calibre';
  font-display: swap;
  src: url('/fonts/calibre/calibre-bold.woff2') format('woff2');
  font-weight: 800 1000;
}

.nunito {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
}
.calibre {
  font-family: "Calibre", "Helvetica Neue", sans-serif;
}

/****************
* EXTRA CLASSES *
****************/

img.ofit-cover {
  object-fit: cover;
}
img.ofit-contain {
  object-fit: contain;
}
img.opos-center {
  object-position: center;
}
img.opos-left {
  object-position: left;
}
img.opos-top {
  object-position: top;
}
.f0 {
  font-size: 4rem;
}
.flex-1 {
  flex: 1;
}
@media screen and (min-width: 60em) {
  .flex-1-l {
    flex: 1;
  }
}