{{ define "main" }}
	<main>
	</main>

<!-- header -->

{{ partial "header.html" . }}

<title>Test</title>

<!-- project description -->

{{ range sort (where .Site.AllPages "Type" "overview") ".Params.order" }}
	<div class="mw7 center measure pa3">
	    <div>
	      {{ with .Content }} {{ . }} {{ end }}
	    </div>
	</div>
{{ end }}
<br/>

<!-- weekly Zoom panel -->

<div class="bg-moon-gray black pa3">
	<p class="tc mw7 center measure-narrow f2">We meet on Zoom every Friday at 2p ET. Sign up for our mailing list to join.</p>

	<!-- mailing list button -->
	<p class="tc f3 small-caps">
		<a href="https://groups.io/g/Phillycommunitywireless/join" class="myButton">Sign Up</a>
	</p>
	<br/>
</div>
<br/>

{{ end }}
