{{ $reverse := cond (.reverse | default false) "-reverse" "" }}

<style>
    #ctr-img {
        height: 40vh;
        object-fit: cover;
        width: 100%;
    }
</style>

<section class="center cf tl tc-ns f1 pt4 pb2 {{ .class }}">
    <div class="w-75-l center flex flex-row{{$reverse}}-l flex-column{{$reverse}} flex-column-reverse items-stretch w-100 h-auto-l f3">

        <!-- text -->
        <div class="flex flex-column flex-1-l center justify-center pv2-l ph4-l pb4 ph3">
            {{ with .text }}
            <p class="mv3 lh-copy tl tc-ns f4 f3-l">
                {{ markdownify . }}
            </p>
            {{ end}}
            {{ with .link }}
            <div class="flex items-center">
                <a role="button" href="{{.href}}" class="center dib link mv3 pa3 ph4 f3 b {{ .class | default " bg-pcw white" }}">{{ .text | default "Placeholder link" }}</a>
            </div>
            {{ end }}
        </div>

        <!-- img -->
        <div class="flex-1 flex justify-center items-center bg-center pv2-l ph3">
            <img id="ctr-img" class="br3" src="/images/pcwvolunteers2.jpg" alt="">
        </div>
    </div>
</section>