<section class="w-75-l w-100 center cf tl tc-ns f1 pt4 pb4 {{ .class }}">

    <h1 class="f2 tc f1-ns ph3 ma0-ns pa2-ns color-pcw-dark-blue">{{ .title | default "Contact Form Title"}}</h1>
    <p class="f3 tc lh-copy ph3 mv0 mv3-ns">
        {{ .help_text | default "Default Help Text" }}
    </p>

    <div>
        <iframe src="https://destiny-iguanodon-219.notion.site/ebd//2e1e82e95ccc803980ebf6f1bbdaf8c9" width="100%" height="600" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</section>