{{ $reverse := cond (.reverse | default false) "-reverse" "" }}

<section class="center cf tl tc-ns f1 pt4 pb4 {{ .class }}">
    <div class="w-75-l center flex flex-row{{$reverse}}-l flex-column{{$reverse}}-l flex-column-reverse  items-stretch w-100 h-auto-l f3">
        <!-- map -->
        <div class="w-two-thirds-l w-100 cover bg-center pv2-l ph2 ph0-l">

            <iframe
                src="https://calendar.google.com/calendar/embed?src=c_ca84146424d3ddad9678df590065af38e3fc78ff3720a41ed05584cd5e7cd7eb%40group.calendar.google.com&ctz=America%2FNew_York"
                style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"
                aria-label="Event Calendar"></iframe>

        </div>

        <!-- text -->
        <div class="w-third-l flex flex-column justify-center center pa4-l pb4 ph3">
            {{ with .heading }}
            <h2 class="center mv3 f2">{{ . }}</h2>
            {{ end }}
            {{ with .text }}
            <p class="mv3 lh-copy tl tc-ns f3">
                {{ markdownify . }}
            </p>
            {{ end}}
            {{ with .link }}
            <a role="button" href="{{.href}}" class="center dib link mv3 pa3 ph4 f3 b {{ .class | default " bg-pcw white" }}">{{ .text | default "Placeholder link" }}</a>
            {{ end }}
        </div>
    </div>
</section>