{{ $class := .class }}
<section class="cf center w-75-l w-100 pv4">
    {{- if .title -}}
    <div>
        <h1 style="padding-bottom:2rem" class="tl f2 f1-ns center ma0 pa2 color-pcw-dark-blue">{{ .title }}</h1>
    </div>
    {{- end -}}
    <div class="flex flex-wrap items-stretch mw9 center ph3-ns">
        {{ range $i, $section := .sections }}
        {{ with $section }}
        <div class="merch-item ns fl pv2 ph3 {{ $class }}">
            <div class="h-100 bg-white flex flex-column justify-between">
                <div>
                    <img src="{{ .photo }}" class="{{ .class }}" alt="{{.photo_alt_text}}">
                    {{- if .heading_1 -}}
                    <h2 class="tc tl-ns">{{ .heading_1 | markdownify }}</h2>
                    {{ end }}
                    <h2 class="black mv0 tc tl-ns">{{ .subheading }}</h2>
                    <p class="f4 tc tl-ns mv2 lh-copy">{{ .description_text | markdownify }}</p>
                </div>

                <div>
                    {{- if .button_text -}}
                    <div class="flex items-center">
                        <a role="button" href="{{ .button_href }}"
                            class="center tc dib link mv3 pa3 ph4 f3 b bg-pcw white {{ .button_class }}">
                            {{ .button_text }}
                        </a> 
                    </div>
                    {{- end -}}
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>