<section class="cf tl tc-ns center pv4 w-75-l {{ .class }}">
    <div class="flex flex-column justify-center">
        <!--             <h1 class="tl f2 f1-ns center ma0-ns pa2-ns pb4-ns ph3 color-pcw-dark-blue">{{ .title }}</h1>
 -->
        <h1 class="f2 f1-ns ph3 ma0-ns pa2-ns color-pcw-dark-blue">{{ .title | default "Default title" }}</h1>
        <p class="f3 lh-copy ph3 mv0 mv3-ns"></b>{{ .subtitle | markdownify | default "Default Subtitle" }}</p>

        <div class="">
            <!-- {{ partial "segments/newsletter.html" . }} -->
            {{ partial "segments/newsletter-fname-lname.html" . }}
        </div>
    </div>

</section>