<section class="cf f3 center w-75-l w-100 pv4">

    <article class="cf flex flex-column flex-row-ns w-100">
        {{ with .left }}
        <div class="flex flex-column w-100 w-50-ns {{ .class }}">
            <div class="h-100 bg-near-white">
                <h1 class="ph3 ph4-ns pt4 pb0 mb1 mt2">{{ .title | markdownify | default "Default Title"}}</h1>
                <div class="ph3 ph4-ns pt0 pb4 lh-copy">
                    <p class=""> {{ .text | markdownify | default "Default Text" }}</p>
                </div>           
            </div>
        </div>
        {{ end }}

        <div class="dn dn-m dib-ns ph2 {{ .class }}">
            <!-- <div class="f3 measure-narrow" style="height: 14em; border-left: dotted 10px var(--lilac);"></div> -->
        </div>

        <!-- divider -->
        <!-- <div class="dn dn-m dib-ns ph2 {{ .class }}">
            <div class="f3 measure-narrow" style="height: 14em; border-left: dotted 10px var(--lilac);"></div>
        </div> -->

        {{ with .right }}
        <div class="flex flex-column w-100 w-50-ns {{ .class}}">
            <div class="h-100 bg-light-gray">
                <h1 class="ph3 ph4-ns pt4 pb0 mb1 mt2">{{ .title | markdownify | default "Default Title"}}</h1>
                <div class="ph3 ph4-ns pt0 pb4 lh-copy">
                    <p class=""> {{ .text | markdownify | default "Default Text" }}</p>
                </div>
            </div>
        </div>
        {{ end }}

    </article>

</section>

<!-- https://tachyons.io/components/layout/two-column-collapse-one/index.html -->
<!-- https://tachyons.io/components/layout/two-column/index.html -->