<style>
    .cubed {
        aspect-ratio: 1.5/1;
        width: 100%;
        /* remove based off of image display feedback */
        object-fit: cover;
    }
</style>

<section class="cf center w-75-l w-100 pv4">

    <div class="mw9 center ph3-ns">
        {{- if .title -}}
        <div class="">
            <h1 class="tl f2 f1-ns center ma0 pa2 color-pcw-dark-blue">{{ .title }}</h1>
        </div>
        {{- end -}}


        <div class="fl w-100 w-50-m w-third-l pa2">
            <div class="bg-white ">
                {{ with .section1}}
                <img src="{{ .photo }}" class="cubed br3" alt="{{.photo_alt_text}}">

                {{- if .text -}}
                <p class="f4 mv3">{{ .text }}</p>
                {{- end -}}

                <div class="flex items-center">
                    <a role="button" href="{{ .button_href }}"
                        class="center tc dib link mv3 pa3 ph4 f3 b bg-pcw-important white">
                        {{ .button_text | default "Placeholder link" }}
                    </a> {{ end }}
                </div>


            </div>
        </div>

        <div class="fl w-100 w-50-m w-third-l pa2">
            <div class=" bg-white ">
                {{ with .section2}}
                <img src="{{ .photo }}" class="cubed br3" alt="{{.photo_alt_text}}">

                {{- if .text -}}
                <p class="f4 mv3">{{ .text }}</p>
                {{- end -}}

                <div class="div flex items-center">
                    <a role="button" href="{{ .button_href }}"
                        class="center tc dib link mv3 pa3 ph4 f3 b bg-green white">
                        {{ .button_text | default "Placeholder link" }}
                    </a> {{ end }}
                </div>

            </div>
        </div>

        <div class="fl w-100 w-50-m w-third-l pa2">
            <div class=" bg-white ">
                {{ with .section3}}
                <img src="{{ .photo }}" class="cubed br3" alt="{{.photo_alt_text}}">

                {{- if .text -}}
                <p class="f4 mv3">{{ .text }}</p>
                {{- end -}}
                
                <div class="div flex items-center">
                    <a role="button" href="{{ .button_href }}"
                        class="center tc dib link mv3 pa3 ph4 f3 b bg-pcw-lilac white">
                        {{ .button_text | default "Placeholder link" }}
                    </a>
                </div>
                {{ end }}
            </div>

        </div>
    </div>
</section>