<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	<!-- google fonts-->
	{{ partial "google-fonts" . }}

	<!-- accessibility from userway -->
	<script data-account="UyrePYzjbG" src="https://cdn.userway.org/widget.js"></script>

	<!-- tachyons -->
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

	<!-- SCSS–>CSS -->
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{- range .Site.Params.customCSS }}
	{{- end }}

	{{/* link to any available alternate output format versions of this page */}}
	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
	{{ end -}}
</head>
<body>
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
