/* TODO work this styling into theme */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

:root {
  --orange: rgb(255, 128, 0);
  --blue: rgb(93, 57, 255);

  --primary: var(--blue);
}

body,
html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-position: fill; /* 60px !important; */
}
header nav {
  background-color: var(--primary);
}
header nav ul {
  line-height: 2.5rem !important;
}
nav li > a.hover-white:hover {
  color: black;
}
nav > div > a > img {
  width: 75px;
  height: 75px;
  filter: invert(100%);
}
nav > div > a:after {
  content: "Philly Community Wireless";
  display: block;
  width: 0;
  float: right;
  padding-left: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

main {
  flex: 1;
  padding-bottom: 1rem !important;
}
main a,
#TableOfContents a {
  color: var(--primary) !important;
}
nav a {
  text-decoration: none !important;
}

#TableOfContents {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: solid 1px black;
  font-size: 18px !important;
}
