{{ define "main" }}
  {{/* Show main content of _index.md */}}
  <article class="cf">
    <section class=" ph3 ph4-l pv3 pv4-l f4 center measure-wide lh-copy">
      {{ .Content }}
    </section>
  </article>
  {{/* 
    Range over values in _index.md front matter "segments" param.
    Will automatically use partials in the partials/segments directory.
  */}}
  {{ with .Params.segments }}
    {{ range $i, $val := . }} 
      {{ with $val }}
        {{ $partial := (printf "segments/%s.html" .type) }}
        {{ if templates.Exists (printf "partials/%s" $partial) }}
          {{ partial $partial . }}
        {{ else }}
          {{ warnf "There is no file named \"%s.html\" in the layouts/partials/segments directory." .type }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
